Source: jmc
Section: python
Priority: optional
Maintainer: David Rousselie <dax@happycoders.org>
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev
Standards-Version: 3.8.4

Package: python-jmc
Architecture: all
Depends: ${python:Depends}, python-jcl (= 0.1b3)
Provides: ${python:Provides}
Description: JMC is an email gateway for Jabber
 JMC is a jabber service to check email from POP3 and IMAP4 server and
 retrieve them or just a notification of new emails. Jabber users can
 register multiple email accounts.
