Source: jmc
Section: python
Priority: optional
Maintainer: David Rousselie <dax@happycoders.org>
Build-Depends: debhelper (>= 4.1.0)
Standards-Version: 3.6.2

Package: jmc
Architecture: all
Depends: ${python:Depends}, python-pyxmpp (>= 0.5)
Recommends: python2.4-pysqlite2 (>= 2.0)
Description: JMC is an email gateway for Jabber
 JMC is a jabber service to check email from POP3 and IMAP4 server and retrieve them or just a notification of new emails. Jabber users can register multiple email accounts.
